<div class="items-center justify-center hidden h-full gap-8 md:flex lg:gap-4">
	<!-- Div for home button -->
	<a [routerLink]="['/']" routerLinkActive="router-link-active"  class="relative flex items-center justify-center w-10 h-full pt-2 pb-3 group lg:w-[7.4rem] hover:bg-gray-100 hover:rounded-lg">
		<div class="flex items-center justify-center">
			<i class="fa-solid fa-house fa-lg" style="color: #0866ff;"></i>
		</div>
		<app-tooltip title="Home"></app-tooltip>
	</a>
	<!-- div for video button -->
	<a routerLink="/watch" class="relative flex items-center justify-center w-10 h-full pt-2 pb-3 group lg:w-[7.4rem] hover:bg-gray-100 hover:rounded-lg">
		<div class="flex items-center justify-center">
		   <i class="fa-solid fa-tv fa-lg" style="color: #8d8f92;"></i>
		</div>
		<app-tooltip title="Videos"></app-tooltip>
	</a>
	<!-- div for marketplace -->
	<a routerLink="/marketplace" class="relative flex items-center justify-center w-10 h-full pt-2 pb-3 group lg:w-[7.4rem] hover:bg-gray-100 hover:rounded-lg">
		<div href="#" class="flex items-center justify-center">
		   <i class="fa-solid fa-store fa-lg" style="color: #8d8f92;"></i>
		</div>
		<app-tooltip title="Marketplace"></app-tooltip>
	</a>
	<!-- div for groups button -->
	<a routerLink="/groups/feed" class="relative flex items-center justify-center w-10 h-full pt-2 pb-3 group lg:w-[7.4rem] hover:bg-gray-100 hover:rounded-lg">
		<div href="#" class="flex items-center justify-center">
		   <i class="fa-solid fa-users-rectangle fa-lg" style="color: #8d8f92;"></i>
		</div>
		<app-tooltip title="Groups"></app-tooltip>
	</a>
					<!-- div for game button -->
	<a routerLink="gaming/play" class="relative flex items-center justify-center w-10 h-full pt-2 pb-3 group lg:w-[7.4rem] hover:bg-gray-100 hover:rounded-lg">
		 <div href="#" class="flex items-center justify-center">
			 <i class="fa-solid fa-gamepad fa-lg" style="color: #8d8f92;"></i>
		 </div>
		 <app-tooltip title="Games"></app-tooltip>
		</a>
</div>
