<div class="items-center justify-center hidden h-full gap-8 md:flex lg:gap-4">
	<!-- Div for home button -->
	<div class="relative flex items-center justify-center w-10 h-full pt-2 pb-3 group lg:w-[7.4rem] hover:bg-gray-100 hover:rounded-lg">
		<a href="#" class="flex items-center justify-center">
			<i class="fa-solid fa-house fa-lg" style="color: #0866ff;"></i>
		</a>
		<app-tooltip title="Home"></app-tooltip>
	</div>
	<!-- div for video button -->
	<div class="relative flex items-center justify-center w-10 h-full pt-2 pb-3 group lg:w-[7.4rem] hover:bg-gray-100 hover:rounded-lg">
		<a href="#" class="flex items-center justify-center">
		   <i class="fa-solid fa-tv fa-lg" style="color: #8d8f92;"></i>
		</a>
		<app-tooltip title="Videos"></app-tooltip>
	</div>
	<!-- div for marketplace -->
	<div class="relative flex items-center justify-center w-10 h-full pt-2 pb-3 group lg:w-[7.4rem] hover:bg-gray-100 hover:rounded-lg">
		<a href="#" class="flex items-center justify-center">
		   <i class="fa-solid fa-store fa-lg" style="color: #8d8f92;"></i>
		</a>
		<app-tooltip title="Marketplace"></app-tooltip>
	</div>
	<!-- div for groups button -->
	<div class="relative flex items-center justify-center w-10 h-full pt-2 pb-3 group lg:w-[7.4rem] hover:bg-gray-100 hover:rounded-lg">
		<a href="#" class="flex items-center justify-center">
		   <i class="fa-solid fa-users-rectangle fa-lg" style="color: #8d8f92;"></i>
		</a>
		<app-tooltip title="Groups"></app-tooltip>
	</div>
					<!-- div for game button -->
	<div class="relative flex items-center justify-center w-10 h-full pt-2 pb-3 group lg:w-[7.4rem] hover:bg-gray-100 hover:rounded-lg">
		 <a href="#" class="flex items-center justify-center">
			 <i class="fa-solid fa-gamepad fa-lg" style="color: #8d8f92;"></i>
		 </a>
		 <app-tooltip title="Games"></app-tooltip>
	</div>
</div>
